[submodule "zsh/.zsh_plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh_plugins/zsh-autosuggestions"]
	path = zsh/.zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zsh_plugins/gitstatus"]
	path = zsh/.zsh_plugins/gitstatus
	url = https://github.com/romkatv/gitstatus.git
[submodule "vim/.vim/pack/plugins/opt/AutoComplPop"]
	path = vim/.vim/pack/plugins/opt/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "vim/.vim/pack/plugins/opt/DynamicSigns"]
	path = vim/.vim/pack/plugins/opt/DynamicSigns
	url = https://github.com/chrisbra/DynamicSigns.git
[submodule "vim/.vim/pack/plugins/opt/ale"]
	path = vim/.vim/pack/plugins/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/plugins/opt/fzf"]
	path = vim/.vim/pack/plugins/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/pack/plugins/opt/fzf.vim"]
	path = vim/.vim/pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/opt/pear-tree"]
	path = vim/.vim/pack/plugins/opt/pear-tree
	url = https://github.com/tmsvg/pear-tree.git
[submodule "vim/.vim/pack/plugins/opt/quick-scope"]
	path = vim/.vim/pack/plugins/opt/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule "vim/.vim/pack/plugins/opt/rainbow"]
	path = vim/.vim/pack/plugins/opt/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/.vim/pack/plugins/opt/traces.vim"]
	path = vim/.vim/pack/plugins/opt/traces.vim
	url = https://github.com/markonm/traces.vim.git
[submodule "vim/.vim/pack/plugins/opt/ultisnips"]
	path = vim/.vim/pack/plugins/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/pack/plugins/opt/vim-commentary"]
	path = vim/.vim/pack/plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/pack/plugins/opt/vim-eunuch"]
	path = vim/.vim/pack/plugins/opt/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/.vim/pack/plugins/opt/vim-fugitive"]
	path = vim/.vim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/plugins/opt/vim-noh"]
	path = vim/.vim/pack/plugins/opt/vim-noh
	url = https://github.com/jesseleite/vim-noh.git
[submodule "vim/.vim/pack/plugins/opt/vim-highlightedyank"]
	path = vim/.vim/pack/plugins/opt/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "vim/.vim/pack/plugins/opt/vim-lumen"]
	path = vim/.vim/pack/plugins/opt/vim-lumen
	url = https://github.com/vimpostor/vim-lumen.git
[submodule "vim/.vim/pack/plugins/opt/vim-markdown-preview"]
	path = vim/.vim/pack/plugins/opt/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "vim/.vim/pack/plugins/opt/vim-mundo"]
	path = vim/.vim/pack/plugins/opt/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "vim/.vim/pack/plugins/opt/vim-gitgutter"]
	path = vim/.vim/pack/plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/pack/plugins/opt/vim-repeat"]
	path = vim/.vim/pack/plugins/opt/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/plugins/opt/vim-smoothie"]
	path = vim/.vim/pack/plugins/opt/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule "vim/.vim/pack/plugins/opt/vim-surround"]
	path = vim/.vim/pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/plugins/opt/vim-wordmotion"]
	path = vim/.vim/pack/plugins/opt/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
[submodule "vim/.vim/pack/plugins/opt/vim-zoom"]
	path = vim/.vim/pack/plugins/opt/vim-zoom
	url = https://github.com/dhruvasagar/vim-zoom.git
