# Name: inputrc
# Author: Austin Liu
# Date Created: August 31, 2021
# Date Modified: September 2, 2021

# Options {{{

$include /etc/inputrc

# Use vi mode
set editing-mode vi

# Disable bell-ringing for readline
set bell-style none

# Colorize a common prefix in ambiguous completion
# set colored-completion-prefix on

# Colorize completions based on filetype
set colored-stats on

# Ignorecase for completion and filename matching
set completion-ignore-case on

# Set timeout value
set keyseq-timeout 1

# Prefix modified history lines with a '*'
# set mark-modified-lines on

# Append a '/' to completed symlinks that point to a dir
set mark-symlinked-directories on

# Require a manually supplied '.' to autocomplete hidden files
# set match-hidden-files off

# Insert common prefix in when ambiguous instead of first match
set menu-complete-display-prefix off

# Display completions horizontally rather than vertically
# set print-completions-horizontally on

# Disable alterations to history
set revert-all-at-newline on

# List matches rather than ringing bell if word has more than one possible completion
set show-all-if-ambiguous on

# Same as show-all-if-ambigious but when the matches don't share a common prefix
# set show-all-if-unmodified on

# Add string to beginning of prompt that indicates editing mode
set show-mode-in-prompt on

# Specify string that is displayed in prompt when in vi normal mode
set vi-cmd-mode-string \1\e[1 q\2
# set vi-cmd-mode-string \1\e[38;2;167;166;186m\2[n] \1\e[0m\2
# set vi-cmd-mode-string \1\e[38;5;189m\2(cmd)\1\e[0m\2

# Specify string that is displayed in prompt when in vi insert mode
set vi-ins-mode-string \1\e[5 q\2
# set vi-ins-mode-string \1\e[38;2;207;185;151m\2[i] \1\e[0m\2
# set vi-ins-mode-string \1\e[38;2;184;172;158m\2(ins)\1\e[0m\2

# }}}
# Bindings {{{

# Bind xxx to complete (for show-all-if-ambiguous without completion)
# "xxx": complete

# Bind tab to menu-complete rather than complete
TAB: menu-complete

# Bind S-tab to go backwards in menu-complete
"\e[Z": menu-complete-backward

# Bind C-l to clear screen
"\C-l": clear-screen

# Bind Up to go back in history using what is currently typed as context
"\e[A": history-search-backward

# Bind Down to go forward in history using what is currently typed as context
"\e[B": history-search-forward

# Bind C-f to go forward one character
"\C-f": forward-char

# Bind C-b to go backward one character
"\C-b": backward-char

# Bind C-] to expand special keywords
"\C-]": shell-expand-line

# }}}
